@page
@model CompetitionApp.Pages.ErrorModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Ocorreu um erro ao processar sua solicitação.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo de Desenvolvimento</h3>
<p>
    Ao trocar para o ambiente <strong>Desenvolvimento</strong>, serão exibidas informações detalhadas sobre o erro ocorrido.
</p>
<p>
    <strong>O ambiente de Desenvolvimento não deve ser habilitado em aplicações implantadas.</strong>
    Isso pode resultar na exibição de informações sensíveis para os usuários finais.
    Para depuração local, habilite o ambiente de <strong>Desenvolvimento</strong> definindo a variável de ambiente <strong>ASPNETCORE_ENVIRONMENT</strong> para <strong>Development</strong>
    e reinicie a aplicação.
</p>
